<% if @active_employees.empty? %>
  <h4>There are no active employees in the system at this time.</h4>
<% else %>
  <h4>Active Employees at Cafe23</h4>
  <table class="striped highlight">
    <thead>
      <tr>
        <th>Name</th>
        <th>Current Assignment</th>
        <th>Phone</th>
      </tr> 
    </thead>
    <tbody>
      <% @active_employees.each do |employee| %>
        <tr>
          <td><%= link_to("#{employee.last_name}, #{employee.first_name}", employee_path(employee)) %></td>
          <td><%= employee.current_assignment.nil? ? "n/a" : employee.current_assignment.store.name %></td>
          <td><%= employee.phone.gsub(/(\d{3})(\d{3})(\d{4})/, '\1-\2-\3') %></td>
        </tr>
      <% end %>
    </tbody>
  </table> 
 <br/><br/>
<% end %>

<% if @inactive_employees.empty? %>
  <h5>There are no inactive employees in the system at this time.</h5>
  <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<% else %>
  <h4>Inactive Employees at Cafe23</h4>
  <table class="striped highlight">
    <thead>
      <tr>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <% @inactive_employees.each do |employee| %>
        <tr>
          <td><%= link_to("#{employee.last_name}, #{employee.first_name}", employee_path(employee)) %></td>
        </tr>
      <% end %>
    </tbody>
  </table> 
<% end %>


<% if current_user.admin_role? %>
  <br/><br/>
  <h4>Add New Employee</h4>
  <button><%= link_to "New Employee", new_employee_path %></button>
  <br/><br/>
  <h4>Get Payroll Employee</h4>
  <button><%= link_to "Calculate Employee Payroll", employee_form_path %></button>
<% end %>