<div class="row">
  <div class="form-inputs">
        <%= f.label :employee_id %>
        <%= f.collection_select :employee_id, Employee.alphabetical, :id, :name, prompt: true %>
        <%= f.label :start_date, class: "active" %>
        <%= f.date_field :start_date %>
        <%= f.label :end_date, class: "active" %>
        <%= f.date_field :end_date %>
  </div>
</div>