<div class="row">
  <div class="form-inputs">
      <% if current_user.admin_role? %>
        <%= f.label :store_id %>
        <%= f.collection_select :store_id, Store.active.alphabetical, :id, :name, prompt: true %>
      <% end %>
        <%= f.label :start_date, class: "active" %>
        <%= f.date_field :start_date %>
        <%= f.label :end_date, class: "active" %>
        <%= f.date_field :end_date %>
  </div>
</div>